fastapi
uvicorn
pydantic
presidio-analyzer
presidio-anonymizer
spacy==3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0.tar.gz
sqlalchemy
psycopg2-binary
pgvector
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
llama-cpp-python
onnxruntime
